{% extends "base.html" %}

{% block content %}
  <table style="width:85%;border: 1px solid black;margin: 0px auto;">
    <tr>

      <td style="width:60%">
        <img src="{{ url_for('show_image', img_url = img_url) }}" alt="image" style="width:100%">
      </td>


      <td style="vertical-align:top">

        <table style="width:100%">

          <tr>
            <td>
              <table style="width:100%">
                <tr>
                  <td style="width:50px">
                    <a href="/u/{{ owner }}/" style="text-decoration:none;color:black">
                      <img src="{{ url_for('show_image', img_url = owner_img_url) }}" style="height:50px;width:50px;float:left" alt="image">
                    </a>
                  </td>
                  <td style="font-size:20px">
                    <a href="/u/{{ owner }}/" style="text-decoration:none;color:black">
                      <b>{{ owner }}</b>
                    </a>
                  </td>
                  <td style="font-size:20px;text-align:right">
                    <a href="/p/{{ postid }}/" style="text-decoration:none;color:black">{{ timestamp }}</a>
                  </td>
                </tr>

              </table>
            </td>
          </tr>



          <tr><td style="width:100%">
              {{ likes }}
              {% if likes is equalto 1 %}
                like
              {% else %}
                likes
              {% endif %}
          </td></tr>


          {% for comment in comments %}
            <tr><td style="width:100%">
              <a href="/u/{{ comment['owner'] }}/" style="text-decoration:none;color:black">
                <b>{{ comment['owner'] }}</b>
              </a>
              {{ comment['text'] }}
			  {% if comment['own_comment']  %}
				<!-- DO NOT CHANGE THIS (aside from where we say 'FIXME') -->
				<form action="" method="post" enctype="multipart/form-data">
				  <input type="hidden" name="commentid" value="{{ comment['commentid']  }}"/>
				  <input type="submit" name="uncomment" value="delete"/>
				</form>
			  {% endif  %}
            </td></tr>
          {% endfor %}

		  <tr><td>
		  {% if  liked  %}
			 <!-- DO NOT CHANGE THIS (aside from where we say 'FIXME') -->
			 <form action="" method="post" enctype="multipart/form-data">
			   <input type="hidden" name="postid" value="{{ postid  }}"/>
			   <input type="submit" name="unlike" value="unlike"/>
			 </form>
		  {% else %}
			 <!-- DO NOT CHANGE THIS (aside from where we say 'FIXME') -->
			 <form action="" method="post" enctype="multipart/form-data">
				<input type="hidden" name="postid" value="{{ postid }}"/>
				<input type="submit" name="like" value="like"/>
			 </form>
		  {% endif %}
		  </td></tr>

		<tr><td>
		  <!-- DO NOT CHANGE THIS (aside from where we say 'FIXME') -->
        <form action="" method="post" enctype="multipart/form-data">
          <input type="hidden" name="postid" value="{{ postid  }}"/>
          <input type="text" name="text"/>
          <input type="submit" name="comment" value="comment"/>
        </form>
		</td></tr>

		  {% if own_post  %}
			<tr><td>
			<!-- DO NOT CHANGE THIS (aside from where we say 'FIXME') -->
			<form action="" method="post" enctype="multipart/form-data">
			  <input type="hidden" name="postid" value="{{ postid  }}"/>
			  <input type="submit" name="delete" value="delete this post"/>
			</form>
			</td></tr>
		  {% endif  %}

        </table>


      </td>
    </tr>
  </table>
{% endblock %}
